
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

<<<<<<< HEAD
.row{
  margin: 0 40px;
}
.imgTable{
  width: 300px;
=======
.imgTable{
  width: 125px;
>>>>>>> 25d45d34b38ff911b9ef406bbbf9d50718f2d0fd
  height: auto;
}
a{
  display: inline-block;
  float:right;
<<<<<<< HEAD
  top:10px;

=======
>>>>>>> 25d45d34b38ff911b9ef406bbbf9d50718f2d0fd
}
