a {
	color: $link-color;
	text-decoration: none;
	cursor: pointer;
	font: {
		family: $font-condensed;
		size: 14px;
	}
	&:hover {
		text-decoration: underline;
	}
}

// fin archivos
button{
	width: 202px;
	padding: 13px 0px;
	background-color: #000000;
	color: $text-color;
	border: 0px;
	@include border-radius(20px);
	outline: none;
	cursor: pointer;
	display: block;
	margin: 33px auto 0px;
}
