#date_info{
  width: 100%;
  .date{
    margin:0 auto;
    max-width:542px;
    width: 100%;
    // descripcion evento lado izquierdo
    &_description{
      max-width:230px;
      width:100%;
      text-align: left;
      span{
        display:block;
        padding:3px 0px 3px 20px;
        text-transform: uppercase;
        font:{
          size: 27px;
          family: $font-condensed;
        }
        &:nth-child(1){
          font-size: 24px;
          // text-transform: uppercase;
          &:after{
            content:"" ;
            margin:12px 0px 6px;
            border-bottom: 4px solid $yellow;
            display:block;
          }
        }
      }
      @include on-device($tablet){
        max-width: 310px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        span{
          padding:3px 0px 3px 0px;
          display: inline-block;
          &:nth-child(1){
            width: 76%;
            &:after{
              margin: 5px 0px 0px;
            }
          }
          &:nth-child(3){
            padding-left:20px;
          }
        }
      }
      @include on-device($phone){
        span{
          font-size: 22px;
          &:nth-child(1){
            font-size: 22px;
            &:after{
              margin: 5px 0px 0px;
            }
          }
          &:nth-child(3){
            padding-left:10px;
          }
        }
      }
    }
    // cuenta regresiva lado derecho
    &_counter{
      max-width:270px;
      width:100%;
      text-align: center;
      .faltan{
          display: block;
          font-size: 21px;
          font-family: $font-condensed;
          padding:4px 0px 10px;
          text-transform: uppercase;
      }
      #clock{
        font-size: 21px;
        padding-top: 5px;
        font-family: $font-condensed;
        border:none;
        outline: none;
        .contador{
          border: 1px solid $yellow;
          @include border-radius(23px);
          max-width:270px;
          background-color: #fff;
          color: #404040;
          padding: 0px 24px;
          font-family: $font-condensed;
          .cont_crono{
            display: inline-block;
            text-align: center;
            font-size: 42px;
            font-family: $font-regular;
            width: calc( 175px / 4 );
            @include on-device($phone){
              font-size: 35px;
              width: calc( 165px / 4 );
            }
          }
        }
        .contador_name{
          padding: 0px 24px;
          max-width:270px;
          .cont_name{
            font-size: 21px;
            display: inline-block;
            text-align: center;
            font-family: $font-condensed;
            width: calc( 180px / 4 );
            margin-top: 5px;
            @include on-device($phone){
              font-size: 19px;
              width: calc( 168px / 4 );
            }
          }
        }
      }
      @include on-device($tablet){
          margin: 0 auto;
          .faltan{
            padding: 10px 0px 0px;
          }
      }

      @include on-device($phone){
        .faltan{
          padding: 10px 0px 0px;
        }
      }
    }

  }
}
