#footer{
  margin-top:55px;
  p{
    &:nth-child(1){
      font-size: 24px;
      text-transform: uppercase;
      margin: 0;
      text-shadow: 1px 2px 3px rgba(45,87,128,0.98);
    }
    &:nth-child(2){
      font-size: 20px;
      font-family: $font-condensed;
      margin: 0;
      text-shadow: 1px 2px 3px rgba(45,87,128,0.98);
    }
    &:nth-child(4){
      margin-bottom: 70px;
    }
  }
  a{
    display: inline-block;
    font-family: $font-condensed;
    margin: 20px 0 40px;
  }
  img{
    max-width: 741px;
  }
  @include on-device($tablet){
    margin-top:25px;
    p{
      &:nth-child(4){
        margin-bottom: 50px;
      }
    }
  }
  @include on-device($phone){
    margin-top:12px;
    p{
      &:nth-child(1){
        font-size: 22px;
      }
      &:nth-child(2){
        font-size: 18px;
        margin-top: 2px;
      }
      &:nth-child(4){
        margin-bottom: 30px;
      }
    }
    a{
      margin: 10px 0 25px;
    }
  }
}
