#footerGen{
  p{
    &:nth-child(1){
      color:#3f3f3f;
      margin-top: 30px;
      margin-bottom: 4px;
      font-family: $font-condensed;
      font-size: 12px;
      text-transform: uppercase;
    }
    &:nth-child(3){
      margin-bottom: 35px;
    }
  }
  a{
    display: inline-block;
    font-family: $font-condensed;
    margin: 0px;
    margin-bottom: 7px;
  }
  img{
    max-width: 741px;
  }
  @include on-device($tablet){
    p{
      &:nth-child(3){
        margin-bottom: 35px;
      }
    }
  }
  @include on-device($phone){
    p{

      &:nth-child(5){
        margin-bottom: 15px;
      }
    }
  }
}
