#header{
  width: 100%;
  margin:40px 0px;
  div{
    margin:0 auto;
    max-width:542px;
    width:100%;
    h3{
      color: $yellow;
      font-size: 31px;
      margin:0;
      padding-right: 7px;
      text:{
        align:right;
        transform: uppercase;
      }
    }
    img{
      max-width: 542px;
    }
    h4{
      color: $gray;
      font-size: 18px;
      margin:0;
      padding-left: 35px;
      text-align:left;
    }
  }
  @include on-device($tablet){
    margin: 30px 0px 20px;
  }
  @include on-device($phone){
    margin: 20px 0px 15px;
    div{
      h3{
        font-size: 18px;
        padding-right: 4px;
      }
      h4{
        font-size: 16px;
        padding-left: 19px;
      }
    }
  }
}
