#posRegistry{
  #header {
    width: 100%;
    margin: 25px 0px;
  }
  .contenido{
    h2{
     font-size: 36px;
      margin: 0;
      text-transform: uppercase;
    }
    h1{
      color: $yellow;
      font-size: 44px;
      margin:0px;
      text-transform: uppercase;
    }
    p{
      font-size: 20px;
      text-transform: uppercase;
      margin: 6px 0px 40px;
      &:nth-child(5){
        margin: 30px 0px 20px;
      }
    }
    img{
      max-width: 741px;
    }

  }
  @include on-device($tablet-portrait){
    #header{
      margin: 35px 0px 60px;
    }
    .contenido{
      h2{
        font-size: 22px;
      }
      h1{
        font-size: 30px;
      }
      p{
        font-size: 15px;
        margin: 5px 0px 30px;
        &:nth-child(5){
          margin: 50px 0px 20px;
        }
      }
    }
  }

  @include on-device($phoneSmall){
    #header{
      margin: 20px 0px;
    }
    .contenido{
      h2{
        font-size: 20px;
      }
      h1{
        font-size: 25px;
      }
      p{
        font-size: 12px;
        margin: 3px 0px 20px;
        &:nth-child(5){
          margin: 30px 0px 20px;
        }
      }
    }
  }
}
