
#preloader{
  &.no-js { display: none; }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1051;
  #loader {
    position: relative;
    left: 50%;
    top: 50%;
		width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1;
		background:{
			image: url(../images/4latas-preloader.png);
			position: center;
			repeat: no-repeat;
			size: 100px auto;
		}
    -webkit-animation: pulse 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: pulse 2s linear infinite; /* Chrome, Firefox 15+, IE 10+, Opera */
  }
  .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $preloader;
    //opacity: 0.6;
  }
  &.loaded {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;
    #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
    }
    .loader-section {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.3s 0.3s ease-out;
              transition: all 0.3s 0.3s ease-out;
      // -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      //         transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
  }
}

@-webkit-keyframes fade{
	0%{
		text-shadow: rgb(255,255,255) 0 0 0;
	}

	90%,100%{
		text-shadow: rgb(0,0,0) 0 0 19px;
	}
}

@-moz-keyframes fade{
	0%{
		text-shadow: rgb(255,255,255) 0 0 0;
	}

	90%,100%{
		text-shadow: rgb(0,0,0) 0 0 19px;
	}
}

@-o-keyframes fade{
	0%{
		text-shadow: rgb(255,255,255) 0 0 0;
	}

	90%,100%{
		text-shadow: rgb(0,0,0) 0 0 19px;
	}
}

@keyframes fade{
	0%{
		text-shadow: rgb(255,255,255) 0 0 0;
	}

	90%,100%{
		text-shadow: rgb(0,0,0) 0 0 19px;
	}
}

@keyframes pulse
{
  0%
  {
    transform: scale( 1 );
  }
  50%
  {
    transform: scale( 1.1 );
  }
  100%
  {
    transform: scale( 1 );
  }
}
