#registry{
  #form{
    .top-form{
      position:relative;
      height: 20px;
      top: 13px;
      // alerta
      #alert-success{
        background-color: #4edd76;
        @include border-radius(12px);
        color: #1d4a8e;
        font-size: 14px;

        padding: 10px;
        position:absolute;
        width: 210px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
    }
    // fin top form
    form{
      margin: 0 auto;
      max-width: 520px;
      .inputs{
        width: 250px;
        margin-top: 10px;
        display: inline-block;
        position: relative;
        padding-left: 10px;
        font-size: 18px;
        input{
          background-color: $yellow;
          @include border-radius(23px);
          color: $text-color;
          padding: 13px 20px;
          width: 240px;
          @include placeholder-color($text-color);
          padding-left: 15px;
          outline: none;
          border: 0;
          &:Focus{
            box-shadow: 0 0 6px $yellow;
          }
        }
      }
      // fin inputs text

      span{
        display: block;
        margin-top: 30px;
        font:{
          size: 25px;
          family: $font-condensed;
        }
        text:{
          shadow: 1px 2px 3px rgba(45,87,128,0.98);
          transform: uppercase;
        }
      }
      // FIN SPAN

      .files{
        width: 128px;
        height: auto;
        display: inline-block;
        [type=file] {
          opacity: 0;
          position: absolute;
          margin-left: -90px;
          margin-top: 40px;
          // display: none;
        }
        [type=file] + label {
          background: {
            image: url("../images/4latas-upload.png");
        		size: auto;
        		position: center 15px;
            repeat: no-repeat;
            color: rgba(255, 255, 255, 0.60);
          }
          @include border-radius(10px);
          color: #6d6d6d;
          cursor: pointer;
          display: block;
          font:{
            family: $font-condensed;
            size: 15px;
          }

          margin: 0 auto;
          position: relative;
          text-transform: uppercase;
          width: 96px;
          height: 87px;

          p{
            top: 57px;
            position: relative;
          }
        }
        #imgBack{
          display: none;
        }
      }
    }
  }
}
