html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body
{
	@include gradient(#1d406c, #d1ab79);
	color: $text-color;
	font-family: $font-regular;
  height: 100%;
}


#main-wrapper {
	background: {
		image: url("../images/4latas-back.jpg");
		size: cover;
		position: center;
	}
	min-height:100%;
	height: auto;
	width: 100%;
}

.text-center{
	text-align: center !important;
}

img{
	width: 100%;
}
