.only-sr {
	position: absolute;
	left: -10000px;
	top:auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


// errores
.errors {
  font-size: 80%;
  display: block;
  text-align: left;
  padding-left: 17px;
  padding-bottom: 20PX;
  color: $danger;
  height: 20px;
}

.is-danger-img{
	box-shadow: inset 0px 0px 0px 2px $danger;
}


.is-danger{
	border: 2px solid $danger !important;
}

.successPa{
	color:#4edd76;
}
