@mixin font-face($name, $file) {
	@font-face {
	font-family: $name;
	src: url('../fonts/'+$file+'.eot');
	src: url('../fonts/'+$file+'.eot?#iefix') format('embedded-opentype'), url('../fonts/'+$file+'.woff2') format('woff2'), url('../fonts/'+$file+'.woff') format('woff'), url('../fonts/'+$file+'.ttf') format('truetype');
	src: url('../fonts/'+$file+'.eot?#iefix') format('embedded-opentype'), url('../fonts/'+$file+'.svg#gandhi_sansbold') format('svg'), url('../fonts/'+$file+'.woff2') format('woff2'), url('../fonts/'+$file+'.woff') format('woff'), url('../fonts/'+$file+'.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
}
@mixin opacity($value:0) {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value*100+")";
	filter: alpha(opacity=$value*100);
	-moz-opacity: $value;
	-khtml-opacity: $value;
	opacity: $value;
}

@mixin transition($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
}

@mixin transform($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin border-radius($params: 0px) {
	-webkit-border-radius: $params;
	-moz-border-radius: $params;
	-ms-border-radius: $params;
	border-radius: $params;
}

@mixin transform-origin($position: center){
	-webkit-transform-origin: $position;
	-moz-transform-origin: $position;
	-ms-transform-origin: $position;
	-o-transform-origin: $position;
	transform-origin: $position;
}

@mixin on-device($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
	background-color: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	background: -ms-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $from, endColorstr= $to, GradientType=0 );
}

@mixin placeholder-color($color){
  &.placeholder{
    color: $color;
  }

  &:-moz-placeholder{
    color: $color;
  }

  &::-webkit-input-placeholder{
    color: $color;
  }

  &:-ms-input-placeholder{
    color: $color;
  }
}
