@import 'lib/eases';
/* colors */
$bg-color: #000;


$link-color: #404040;
$text-color: #ffffff;

$yellow: #f5c371;

$gray: #909090;

$preloader: #376b90;

$danger: #f90705;



/* fonts */
$font-regular: 'Barlow Semi Condensed', sans-serif;
$font-condensed: 'Barlow Condensed', sans-serif;

/* media queries */
$phone: '(max-width: 479px)';
$tablet: '(max-width: 991px)';
$tablet-portrait: '(max-width: 620px)';
$phoneSmall: '(max-width: 367px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$desktop: '(min-width: 980px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
